/btp-*
/*.debhelper
/*.debhelper.log
/*.substvars
/files
/dirs
/control
/install
/postinst
/prerm
/init.d
/service.init.d
/rules
/wrapper.conf
/README.Debian
/README
/LICENSE
/lintian-overrides
/index.php
/*.master
